<img src="https://cdn-s-www.ledauphine.com/images/1DA6182B-174F-4ABC-9C42-F056BF05D226/NW_raw/demonstrations-de-quelques-exercices-par-l-association-masters-di-bars-invitee-par-christophe-revil-maire-de-claix-photos-le-dl-e-z-1574003091.jpg" alt="">
<div #slide_content class="app-slide-content">
  <div class="app-top" (click)="toggleDesc()">
      <h2>{{ meeting.title }}</h2>
      <ion-icon *ngIf="!descshowed" name="chevron-up" large></ion-icon>
      <ion-icon *ngIf="descshowed" name="chevron-down" large></ion-icon>
  </div>
  <div class="app-middle">
    <div class="app-user-container">
      <div class="app-user-info" *ngIf="loaded">
        <app-user-pp [user]="user"></app-user-pp>
        <span> {{ user.firstname }}</span>
      </div>
    </div>
    <div class="app-buttons-container">
      <ion-button *ngIf="loaded" href="tel:{{ user.phone }}"><ion-icon name="mail-outline"></ion-icon></ion-button>
    </div>
  </div>
  <div class="app-bottom">
    <div class="app-badge">
      <ion-icon *ngIf="meeting.sport == 'BasketBall' " name="basketball"></ion-icon>
      <ion-icon *ngIf="meeting.sport == 'FootBall' " name="football"></ion-icon>
      <ion-icon *ngIf="meeting.sport == 'Tennis' " name="tennisball"></ion-icon>
      <ion-icon *ngIf="meeting.sport == 'Mini-Foot' " name="football"></ion-icon>
      <ion-icon *ngIf="meeting.sport == 'Fitness/Muscu' " name="barbell"></ion-icon>
      {{ meeting.sport }}</div>
    <div class="app-badge">
      <ion-icon name="location"></ion-icon>
      {{ meeting.location }}</div>
    <div class="app-badge">
      <ion-icon name="calendar-clear"></ion-icon>
      {{ meeting.date | date : 'd/M/y à h:mm' }}</div>
    <div class="app-badge">
      <ion-icon name="people"></ion-icon>
      {{ meeting.nb_peoples }}</div>
    <div class="app-badge">
      <ion-icon name="play"></ion-icon>
      {{ meeting.spirit }}</div>
    <div class="app-badge">
      <ion-icon name="speedometer"></ion-icon>
      {{ meeting.level }}</div>
    <div class="app-badge" *ngIf="meeting.cost != ''">
      <ion-icon name="logo-euro"></ion-icon>
      {{ meeting.cost }}€</div>
  </div>
  <div class="app-description">
    <p>{{ meeting.description }}</p>
  </div>
</div>
