img{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.app-slide-content{
  position: absolute;
  bottom: 0;
  height: 215px;
  background-color: rgba(255,255,255,0.9);
  width: 100%;
  left: 0;
  text-align: left;
  padding: 10px;
  display: flex;
  flex-direction: column;
  .app-top{
      position: relative;
      ion-icon{
        position: absolute;
        right: 5px;
        top: 0px;
        font-size: 26px;
        color: #a4a4a4;
    }
    h2{
      color: var(--ion-color-primary);
      font-size: 24px;
      margin-left: 5px;
      margin-top: 10px;
    }
  }
  .app-middle{
    display: flex;
    .app-user-container{
      width: 50%;
      position: relative;
    }
    .app-user-info{
      position: absolute;
      left: 5px;
      top: 50%;
      transform: translateY(-50%);
      .app-pp{
        margin: 0px auto;
        width: 30px;
        height: 30px;
        background-color: #525252;
        color: white;
        line-height: 30px;
        font-size: 12px;
        text-align: center;
        border-radius: 50%;
        display: inline-block;
      }
      span{
        margin-left: 5px;
        line-height: 30px;
        font-weight: bold;
        font-size: 16px;
        color: #525252;
      }
    }
    .app-buttons-container{
      width: 50%;
      text-align: right;
      ion-button{
        display: inline-block;
        margin: 0px auto;
        --background: white;
        --color: #868686;
        --border-radius: 50%;
        height: 60px;
        width: 60px;
        ion-icon{
          font-size: 24px;
        }
      }
      ion-button:last-of-type{
        margin-left: 10px;
      }
    }
  }
  .app-bottom{
    margin-top: 15px;
  }
  .app-description{
    margin-top: 30px;
  }
}
.app-badge{
  font-size: 12px;
  height: 30px;
  color: white;
  display: inline-block;
  margin: 3px;
  padding: 5px 10px;
  line-height: 20px;
  background-color: var(--ion-color-primary);
  border-radius: 20px;
  ion-icon{
    position: relative;
    height: 10px;
    .icon-inner{
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
