<ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button icon="arrow-back-outline" text=""></ion-back-button>
    </ion-buttons>
    <ion-title color="white">Défis</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-content>
  <ion-list>
    <ion-item class="ion-text-center" lines="none">
      <ion-label>
        Mon score: 2000 EXP
      </ion-label>
    </ion-item>
    <ion-item class="ion-text-center ion-text-wrap" lines="none">
      <ion-label text-wrap>
        Rencontre 50 personnes via l'app<br>
        <span class="xp">+ 1000 EXP</span>
      </ion-label>
    </ion-item>
    <ion-item class="ion-text-center ion-text-wrap" lines="none">
      <ion-label text-wrap>
        Participe à 5 rencontres<br>
        <span class="xp">+ 1000 EXP</span>
      </ion-label>
    </ion-item>
    <ion-item class="ion-text-center ion-text-wrap" lines="none">
      <ion-label text-wrap>
        Contacte 10 organisateurs<br>
        <span class="xp">+ 1500 EXP</span>
      </ion-label>
    </ion-item>
    <ion-item class="ion-text-center ion-text-wrap" lines="none">
      <ion-label text-wrap>
        Organise 5 rencontres<br>
        <span class="xp">+ 1500 EXP</span>
      </ion-label>
    </ion-item>
    <ion-item class="ion-text-center ion-text-wrap completed" lines="none">
      <ion-icon size="large" name="checkmark-outline"></ion-icon>
      <ion-label text-wrap>
        Modifie ta photo de profil<br>
        <span class="xp">+ 500 EXP</span>
      </ion-label>
    </ion-item>
    <ion-item class="ion-text-center ion-text-wrap" lines="none">
      <ion-label text-wrap>
        Connecte toi pendant 5 jours d'affilé<br>
        <span class="xp">+ 500 EXP</span>
      </ion-label>
    </ion-item>
    <ion-item class="ion-text-center ion-text-wrap" lines="none">
      <ion-icon size="large" name="checkmark-outline"></ion-icon>
      <ion-label text-wrap>
        Modifie une de tes annonces<br>
        <span class="xp">+ 1500 EXP</span>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
