ion-content{
  --background: linear-gradient(rgb(255, 88, 113) 0%, rgba(250,184,0,1) 100%);
  --padding-start: 15px;
  --padding-end: 15px;
}
ion-toolbar{
  --background: rgb(255, 88, 113);
  color: white;
  ion-back-button{
    --color: white;
  }
}

.settings-cat {
  --background: transparent;
  padding-top: 10px;
  padding-left: 30px;
  padding-bottom: 10px;
  ion-label{
    color: white
  }
}

.setting{
  --backround: transparent;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 10px;
  ion-label{
    color: gray;
    --border-radius: 50%;
    font-size: 10px;
  }
}
.version{
  text-align: center;
  font-size: 12px;
  color: #444444;
}

