/* Button */
.app-button-light{
  width: 100%;
  --background: white;
  color: var(--ion-color-primary);
  font-weight: normal;
  text-transform: none;
  --padding-bottom: 22px;
  --padding-top: 22px;
  --border-radius: 6px;
}

/* Form */
form{
  p.error{
    color: #b60202;
    display: block;
    width: 100%;
    margin: 2px 0px 0px;
  }
  .app-form-itemgroup{
    width: 100%;
  }
}

/* Connection */
.app-connection-button{
  margin-bottom: 30px;
  text-transform: none;
  --background: linear-gradient(var(--ion-color-primary), rgba(250,184,0,0.7));
  --background-activated: linear-gradient(var(--ion-color-primary), rgba(250,184,0,0.7));
  --background-hover: linear-gradient(var(--ion-color-primary), rgba(250,184,0,0.7));
  --background-activated-opacity: 0.7;
  --background-hover-opacity: 0.7;
  --box-shadow: 0px;
  position: relative;
  --padding-bottom: 22px;
  --padding-top: 22px;
  --border-radius: 6px;
  font-weight: normal;
}
.app-connection-button::before{
  content: "";
  width: 200px;
  height: 60px;
  display: block;
  border-radius: 20px;
  position: absolute;
  top: 3px;
  left: 50%;
  transform: translateX(-50%);
  background: url('/assets/connection/button_after.png') no-repeat center;
  background-size: cover;
}
