<form>
  <ion-list>
    <ion-item>
      <ion-input inputmode="text" color="secondary" placeholder="Prénom" required="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input inputmode="text"  color="secondary" placeholder="Nom" required="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input inputmode="text"  color="secondary" placeholder="Nom d'utilisateur" required="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input inputmode="email" type="email" pattern="email" color="secondary" placeholder="E-mail" required="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input inputmode="tel" pattern="tel" color="secondary" placeholder="Numéro de téléphone" required="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input inputmode="text" type="password" pattern="password" color="secondary" placeholder="Mot de passe" required="true"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button class="app-connection-button" expand="block">Continuer</ion-button>
</form>
