<ion-content>
  <!--<ion-button (click)="authService.logout()">Déconnexion</ion-button>
  <p *ngIf="loaded == true">Bonjour {{ authService.getUser().firstname }}</p>-->
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="user-view">
        <ion-icon name="person"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="view-meeting">
        <ion-icon name="copy"></ion-icon>
      </ion-tab-button>
      <ion-tab-button tab="my-meetings">
        <ion-icon name="create"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
