<ion-content>
  <div class="app-container">
    <div class="app-pp-container">
      <app-user-pp [isHome]="true" *ngIf="loaded" [user]="authService.getUser()"></app-user-pp>
    </div>
    <p class="app-name" *ngIf="loaded"> {{ authService.getUser().user }}</p>
    <div class="app-btn-container">
      <div class="app-btn">
        <ion-button  [routerLink]="['/settings']">
          <ion-icon name="settings-outline" size="large"></ion-icon>
        </ion-button>
        <span>Paramètres</span>
      </div>
      <div class="app-btn">
        <ion-button [routerLink]="['/myprofile']">
          <ion-icon name="pencil" size="large"></ion-icon>
        </ion-button>
        <span>Profil</span>
      </div>
      <div class="app-btn">
        <ion-button (click)="authService.logout()">
          <ion-icon name="log-out-outline" size="large"></ion-icon>
        </ion-button>
        <span>Déconnexion</span>
      </div>
    </div>
    <div class="app-button-container-bottom">
      <ion-button [routerLink]="['/achievements']" mode="ios"><ion-icon name="stats-chart-outline"></ion-icon> Mes défis</ion-button>
    </div>
  </div>
</ion-content>
