<ion-content>
  <ion-button [routerLink]="['/add-meeting']"  class="app-button-light">Planifier un évènement</ion-button>
  <ion-item class="app-toggle-container" lines="none" *ngIf="false">
    <ion-label>Afficher les évènements passés</ion-label>
    <ion-toggle mode="md"></ion-toggle>
  </ion-item>
  <div class="app-card-container" *ngIf="myMeetings.size != 0">
    <app-meeting *ngFor="let MeetingMap of myMeetings | keyvalue" [meeting]="MeetingMap.value" [id]="MeetingMap.key.toString()"></app-meeting>
  </div>
  <ion-item *ngIf="myMeetings.size == 0" class="ion-text-center">
    <ion-label>
      Aucune annonce
    </ion-label>
  </ion-item>
</ion-content>
