ion-content{
  --background: linear-gradient(rgb(255, 88, 113) 0%, rgba(250,184,0,1) 100%);
  --padding-start: 15px;
  --padding-end: 15px;
}
ion-toolbar{
  --background: rgb(255, 88, 113);
  color: white;
  ion-back-button{
    --color: white;
  }
}
